@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-body;
  color: $govuk-black;
  background-color: $govuk-white;
  overflow: hidden; /* Prevent body scroll, use container scroll if needed */
}

h1, h2, h3 {
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: bold;
  min-height: 44px;
  padding: 0 15px;
  color: $govuk-white;

  &:focus {
    outline: 3px solid $govuk-yellow-focus;
    outline-offset: 0;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

input, select {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border: 1px solid $govuk-grey-secondary;

  &:focus {
    outline: 3px solid $govuk-yellow-focus;
    outline-offset: 0;
    border-color: $govuk-black;
  }
}
