// Colors
$govuk-blue: #1d70b8;
$govuk-green: #00703c;
$govuk-red: #d4351c;
$govuk-black: #0b0c0c;
$govuk-grey-secondary: #505a5f;
$govuk-grey-background: #f3f2f1;
$govuk-yellow-focus: #ffdd00;
$govuk-white: #ffffff;
$govuk-border-grey: #b1b4b6;

// Typography
$font-family: Inter, Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-body: 19px;
$font-size-heading: 24px;
$font-size-metadata: 14px;

// Spacing
$spacing-unit: 20px;
